div.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

div.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

img {
    height: 300px;
    width: auto;
    margin-bottom: 200px;
}

button.start {
    margin-top: -50px;
    padding: 20px;
    font-size: 1.2em;
    background-color: salmon;
    color: white;
    border-radius: 20px;
    border: 1px solid whitesmoke;
    box-shadow: 2px 5px salmon;
}

button:hover {
    box-shadow: 0 0;
}